<!DOCTYPE html >
{% load static %}
{{ redirect_to_login_immediately }}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keep-My-Notes</title>
    <link href="{% static 'notes_app/index.css' %}" rel="stylesheet">
    <link href="{% static 'notes_app/media.css' %}" rel="stylesheet">
    <script src="{% static 'notes_app/index.js' %}"></script>
    <script src="{% static 'notes_app/hamburger.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel|Fauna+One">
    <style>
    body {
        font-family: Muli, sans-serif; 
    }

    h1 {
        font-family: "Space Mono", monospace;  
    }
    </style>
</head>
<body id="body">
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div> 
    <div id="header">
        <div id="label_logo">
            <span id="label_name"style="text-align:center;">KEEP-MY-NOTES</span> 
                    
        </div>
        
        <div id="search">
            <input type="text" placeholder="Search..." required class="search">
            {% if user.is_authenticated %}
            <span style="float:right;">
                
                <a href="{% url 'logout' %}" class="nav-link text-white"style="color: #FFFFFE; text-decoration: none;">Logout</a>
            </span>
            {% endif %}
        </div> 

    </div>

    <div id="labels_bar" class="labels_bar">
        <div class="label_link2" style="border-bottom:1px solid #FDE24F;">
            <p>
            <a class ="nav-link" href="{% url 'index' %}">NOTES</a>
            </p>
            
        </div>
        <div id="label_container" >
            <br>
            <div class="label_link_create" >
                <p class="l_name " id="create_label">CREATE LABEL</p>
            </div>
            <input autofocus type="text" required id="input_box" onfocus="this.value=''" autocomplete="off">
            <button type="submit" id="create_label_button">CREATE</button>           
    
            {% for label in labels %}
            <div class="label_link" id="{{label.id}}">
                <p style = "display: inline;" class="l_name nav-link" id="{{label.id}}">{{ label.name  | upper }}</p>
                <span class="label_icons label_icons_save " style="display: none;">SAVE</span>
                <span class="label_icons label_icons_delete ">DELETE</span>
                <span class="label_icons label_icons_edit">EDIT</span>
            </div>
            {% endfor %}
            
        </div>
        <div style="border-top:1px solid #FDE24F; margin-bottom: 20px;">
            <br>
            <ul id="label_uo">
                <li class="label_link nav-link"><p id = "archive_link">ARCHIVE</p></li>
                <li class="label_link nav-link"><p id="delete_link">DELETE</p></li>
                <li class="label_link nav-link"><p id="settings_link">SETTINGS</p></li>
            </ul>
        </div>
        <br>
    </div>

    <div id="notes_bar" class="notes_bar">

            <div id="create_note">
                    <input type="text" name="title" id="create_note_title" placeholder="TITLE" maxlength="250">
                    <textarea maxlength="2000" name="CONTENT" id="create_note_content" placeholder="NOTE..."></textarea>  
                    <button type="submit" id="save_note">SAVE</button>
            </div>
            {% for key, values in notes.items %}
            <div class="note" id ="{{key}}">
                <div class="note_title">
                    <h1>{{ values.title}}</h1>
                </div>
                <div class="note_content">
                    <p class="n_content">{{ values.content|wordwrap:85}}...</p>
                </div>
                <div class="meta_info">
                    
                    <div class="meta_left">
                        {% for value in values.LABELS%}
                        <span>{{ value}}</span>
                        {% endfor %}
                    </div>
       
                    
                    <div class="meta_right">
                        <span id = "archive">ARCHIVE</span>
                        <span id ="delete">DELETE</span>
                        <span id ="attach_label" >LABELS</span>
                        <span style="display: none;" id="close">CLOSE</span>
                    </div>
                    
                </div>
            </div>
            
            {% endfor %}
    </div>
</body>
</html>