*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #16161A;
    color: #FFFFFE;
    font-family: Verdana, sans-serif;
}
h1 {
    font-family: Georgia, serif;
  }
#header{
    width: 100%;
    height: fit-content;
    position: sticky;
    border-bottom: 1px solid #FFFFFE;
    display: flex;

}

#label_logo{
    width: 20%;
    margin: 2vh 0;
    float: left;
}

#search{
    width: 78%;
    margin: 2vh 0;
    float: right;
}

#search:after{
    content: "";
    background: white;
    width: 2px;
    height: 20px;
    position: absolute;
    top: 56px;
    right: 24.8%;
    transform: rotate(135deg);

}

.search{
    color: #FFFFFE;
    width: 50%;
    font-size: 16px;
    background: transparent;
    height: 55px;
    padding: 5px;
    border: 2px solid #FFFFFE;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
    margin-left: 20.9%;
}

.search::placeholder{
    color: #FFFFFE;
    opacity: 0;
    transition: opacity 150ms ease-out;

}
.search:focus::placeholder{
    opacity: 1;
}

#labels_bar{ 
    width: 25%;
    height: 90%;
    float: left;
    padding: 5px;
    position: fixed;
    left: 0;
    overflow-y: auto;
    margin-top: 15vh;

}


/*NOTES BAR SECTION */
#notes_bar{
    width: 70%;
    height: 85%;/* of the body*/
    float: right;
    padding: 5px;
    position: fixed;
    right: 0;
    overflow-y: auto;
    margin-top: 15vh;
    
}

#create_note, .note{
    box-shadow: rgba(255, 255, 255, 0.2) 2.4px 2.4px 3.2px;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 5px; 
    border:1px solid rgba(255, 255, 255, 0.4) ;  
    text-align: justify;
    padding:20px;  
    position: relative;

}
#create_note{
    width: 800px;
    max-width: 800px;
}
.note{
    max-height: 450px;
    height: 450px; /* of the notes_bar height*/
    width:850px;
    max-width: 850px;
}
#big_note{
    width:65vw;
    z-index: 100;
    height: 80%;
    margin-left: auto; 
    margin-right: auto;
    border-radius: 5px; 
    position: absolute;
    border-radius: 5px; 
    border:1px solid rgba(255, 255, 255, 0.4) ; 
    background: #16161A;
}
.note_content textarea{
    border-left:1px solid rgba(255, 255, 255, 0.2) ; 
}
#create_note_content, .note_content textarea{
    background: #16161A;
    color: #FFFFFE;
    margin-bottom: 20px;
    outline: none;
    resize: none;
    padding: 10px;
    border: none;
}

#create_note_content{
    width: 100%;
    
}

#create_note_title{
    display: block;
    background: #16161A;
    color: #FFFFFE;
    outline: none;
    padding: 10px;
    border: none;
    width: 100%;
}


#notes_bar::-webkit-scrollbar, textarea::-webkit-scrollbar, #labels_bar::-webkit-scrollbar{
    width: 0.4em;
}
#notes_bar::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track, #labels_bar::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#notes_bar::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar, #labels_bar::-webkit-scrollbar{
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.note_title{
    height: 3%;
}
.note_title h1{
    font-size: 2vw;
}

.note_content{
    height:70%;/*of the note height*/
    
}
.n_content{
    width:100%;
    height:100%;
    padding: 20 20 20 20px;
    font-size: 1.2vw;
    overflow-wrap: break-word;
    
}
.meta_info{
    height: 20%;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    background: #16161A;
    color: #FFFFFE;  

}

.meta_right{
    width: 50%;
    height: 100%;
    float: right;
    padding-left: 35px;

}

#close{
    display: none;
}

.meta_left{
    width: 50%;
    height: 100%;
    float: left;
}

.meta_left span, .meta_right span{
    cursor: pointer;
    font-size: 1vw;
    margin: 1px 0px;
    border-radius: 35px;
    text-align: center;
    align-items: center;
    padding: 5px 5px;
    color:#FFFFFE;
    height: fit-content;
    /*background-color: rgba(44, 182, 125, 0.4); */
    background: transparent;
    border: 1px solid rgba(44, 182, 125, 0.4);
    display: inline-block;
}

.meta_right span{
    float: right;
}
.meta_left span{float: left;}
/* LABESL SECTION*/
.label_icons, .l_name,#delete_link, #archive_link, #settings_link{
    font-size: 0.99vw;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}
.label_icons{
    display: none;
}
.label_icons_delete{
    right: 6%;
}
.label_icons_edit{
    right: 25%;
}
.label_icons_save{
    right: 0%;
    height: 100%;
    width: 10%;
    padding-top: 8%;
}

.label_link, .label_link2, #label_uo li,.label_link_create{
    margin-bottom: 10px;
    height: 40px;
    width: 100%;
    cursor: pointer;
    position: relative;
}
.label_link p ,.label_link2 p, #label_uo li p, .label_link_create p{
    font-size: 1.02vw;
    list-style: none;
    text-decoration: none;  
    margin-left: 15px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.label_link:hover ,#label_uo li:hover{
    background-color: rgba(44, 182, 125, 0.4);
    border-radius: 35px;
    cursor: pointer;
}

.label_link:hover  .label_icons{
    display: inline;
}

.label_link2 a{
    text-decoration: none;
    color: #FFFFFE;
}
#save_note{
    display: none; 
    position: absolute;
    right: 5%;
    bottom: 5%;
    background: transparent;
    color: #FFFFFE;
    padding: 5px;
    border:1px solid rgba(255, 255, 255, 0.2) ; 

}
.note_title input{
    background: #16161A;
    color: #FFFFFE;
    margin-bottom: 10px;
    padding: 5px;
    border:none ; 
    outline: none;
    font-size: 2vw;
}
#input_box{
    display: none; 
    height: 30px;
    width: 100%;
    background: #16161A;
    color: #FFFFFE;
    margin-bottom: 6px;
    padding: 5px;
    border:1px solid rgba(255, 255, 255, 0.2) ; 
}
#input_element_edit{
    height: 100%;
    width: 88%;
    background: #16161A;
    color: #FFFFFE;
    margin-bottom: 6px;
    padding: 5px;
    border:1px solid rgba(255, 255, 255, 0.2) ;

}

#input_element_to_edit{
    background: #16161A;
}
#create_label_button{
    display: none; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background: transparent;
    color: #FFFFFE;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);

}
.note_title{
    position: relative;
    margin: 10px;
    
}

#paste_labels{
    position: absolute;
    bottom: 100px;
    right: 150px;
    background-color: #16161A;
}


