/**  MEDIA QUERIES  **/

@media (max-width: 2000px) {
  #create_note{
    width:700px;
    max-width: 700px;
    height: fit-content;
    padding: 0;
}
.note{
  max-height: 700px;
  height: 700px;
  width: 1000px;
  max-width: 1000px;
}
.n_content{ 
  width: 100%;
  font-size: 25px;
}

}

@media (max-width: 1650px) {
    #create_note{
    width:700px;
    max-width: 700px;
    height: fit-content;
    padding: 0;
}
.note{
  max-height: 700px;
  height: 700px;
  width: 1000px;
  max-width: 1000px;
}
.n_content{ 
  width: 100%;
  font-size: 25px;
}
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media(max-width: 1400px) {
  #create_note{
    width:650px;
    max-width: 650px;
    height: fit-content;
    padding: 0;
}
.note{
    max-height: 450px;
    height: 450px; /* of the notes_bar height*/
    width:830px;
    max-width: 830px;
}
.n_content{
  font-size: 20px;
  
}
.note_title h1 {
  font-size: 28px;
}
.meta_info{
  height: 15%;
  padding: 10px; 

}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width:1200px) {
  #create_note{
    width:650px;
    max-width: 650px;
    height: fit-content;
    padding: 0;
}
.note{
    max-height: 450px;
    height: 450px; /* of the notes_bar height*/
    width:750px;
    max-width: 750px;
}
.n_content{
  font-size: 20px;
  
}
.meta_info{
  height: 15%;
  padding: 10px; 

}
}
@media  (max-width: 1100px) {
  #paste_labels{
    position: absolute;
    right: 19px;
    bottom: 126px;
  }
  #create_note{
    width: 500px;
    max-width: 500px;
    height: fit-content;
    padding: 0;
}
.note{
    max-height: 500px;
    height: 500px; /* of the notes_bar height*/
    width:650px;
    max-width: 650px;
}
.note_content textarea {
  padding-left: 15px;
  font-size: 14px;
}
.note_title input {
  font-size: 19px;
  font-weight: bold;
}
#close{
  width: 30%;
}
.n_content{
padding: 0;
  font-size: 20px;
}
#create_note_title {
 font-size: 18px;
}
#create_note_content {
  font-size: 15px;
}
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 880px) {
  .label_icons_show {
    display:inline-block;
    font-size: 16px;
}
.label_icons_edit {
  right: 15%;
}
.label_icons_save{
  right: 2%;
  color: #16161A;
  background: #FDE24F;
  height: 100%;
  width: 40px;
  border-radius: 50%;
  padding-top: 15px;
  padding-left: 8px;
  font-size: 9px;
}
  #paste_labels{
    position: absolute;
    right: 19px;
    bottom: 126px;
  }
  .labels_bar{
    display:none;
  }
  .notes_bar{
    width: 100%;
  }
  .labels_bar_2{
    display: block;
    z-index: 1000;
    background-color:#16161A;
    width: 50%;

  }
  #notes_bar {
    width: 100%;
    height: 85%;
    position: fixed;
    right: 0;
    overflow-y: auto;
    margin-top: 15vh;
  }
  #label_name {
    display: none;
}
.hamburger {
    display: block;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    left: 2px;
    top:20px;
    width: 50px;
}
.bar{
  background-color: #FFFFFE;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);

}
  
  #create_note{
    width: 550px;
    max-width: 550px;
    height: fit-content;
    padding: 0;
}
.note{
  max-height: 500px;
  height: 500px;
  width: 750px;
  max-width: 750px;
}
#create_note_title {
font-size: 18px;
}
#create_note_content {
  font-size: 14px;
}
.meta_left span, .meta_right span {
  font-size: 11px;
}
.n_content{ 
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25rem;
}
.search{
  border: 1px solid #FFFFFE;
}
.note_title h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.5rem;
}

#big_note {
  width: 95vw;
}
.note_content textarea {
  padding-left: 15px;
  font-size: 14px;
}
.note_title input {
  font-size: 19px;
  font-weight: bold;
  padding-left: 15px;
}
#close{
  width: 100%;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 670px) {
  .label_icons_save{right: 0%;}
  .label_link p ,.label_link2 p, #label_uo li p, .label_link_create p{
    font-size: 8.5px;
  }
  #create_note{
    width: 400px;
    max-width: 400px;
    height: fit-content;
    padding: 0;
}
.note{
  max-height: 500px;
  height: 500px;
  width: 650px;
  max-width: 650px;
}
.note_title h1 {
  font-size: 25px;
}
#big_note {
  width: 95vw;
}
.note_content textarea {
  padding-left: 15px;
  font-size: 14px;
}
.note_title input {
  font-size: 19px;
  font-weight: bold;
}
#close{
  width: 30%;
}
#paste_labels{
  position: absolute;
  right: 19px;
  bottom: 126px;
}


}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 550px) {
  #attach_label, #delete, #archive {
    padding-right: 3px;
    font-size: 15px;
    padding-top: 3px;
}
  .label_link p ,.label_link2 p, #label_uo li p, .label_link_create p{
    font-size: 8.5px;
  }
  #paste_labels{
    position: absolute;
    right: 19px;
    bottom: 139px;
  }
  .meta_info {
    height: 27%;
    padding: 0px;
    margin:0;
}
  #create_note{
    width: 350px;
    max-width: 350px;
    height: fit-content;
    padding: 0;
}
.note{
  max-height: 550px;
  height: 550px;
  width: 500px;
  max-width: 500px;
}
.n_content{
  font-size: 18px;
}
.search{
  border: 1px solid #FFFFFE;
}
.note_title h1 {
  font-size: 28px;
}
#big_note {
  width: 95vw;
}
.note_content textarea {
  padding-left: 15px;
  font-size: 14px;
}
.note_title input {
  font-size: 19px;
  font-weight: bold;
}
#close{
  width: 30%;
}
#create_note_title {
font-size: 18px;
}
#create_note_content {
  font-size: 14px;
}
}

@media only screen and (max-width: 425px) {
  .labels_bar_2 {
    width: 70%;
}
  .label_link p ,.label_link2 p, #label_uo li p, .label_link_create p{
    font-size: 8.5px;
  }
  #close{
    width: 30%;
  }
  #create_note{
    width: 320px;
    max-width: 320px;
    height: fit-content;
    padding: 0;
}
.note{
  max-height: 350px;
  height: 350px;
  width: 400px;
  max-width: 400px;
}
.meta_right span {
  font-size: 9px;
}
.meta_left span{
  font-size: 9px;
}
.meta_right span {
  font-size: 9px;
}
.n_content{
  padding: 0px;
  width: 100%;
  font-size: 14px;
  word-break: break-word;
}
.search{
  border: 1px solid #FFFFFE;
}
.note_title h1 {
  font-size: 20px;
}

#big_note {
  width: 95vw;
}
.note_content textarea {
  padding-left: 15px;
  font-size: 14px;
}
.note_title input {
  font-size: 19px;
  font-weight: bold;
}
#paste_labels{
  position: absolute;
  right: 19px;
  bottom: 85px;
}

}

@media only screen and (max-width: 375px) {
  .labels_bar_2 {
    width: 70%;
}
  .note {
    max-height: 300px;
    height: 300px;
    width: 350px;
    max-width: 350px;
}
.meta_right span {
  font-size: 5px;
}
#paste_labels{
  position: absolute;
  right: 19px;
  bottom: 73px;
}

.meta_left span{
  font-size: 9px;
}
.meta_right span {
  font-size: 9px;
}
.label_link p ,.label_link2 p, #label_uo li p, .label_link_create p{
  font-size: 8.5px;
}

}
@media only screen and (max-width: 320px) {
  .labels_bar_2 {
    width: 70%;
}
  .label_link p ,.label_link2 p, #label_uo li p, .label_link_create p{
    font-size: 8.5px;
  }

  .note {
    max-height: 350px;
    height: 350px;
    width: 300px;
    max-width: 300px;
}
.meta_right span, .meta_left span {
  font-size: 8px;
}
#create_note {
  width: 250px;
  max-width: 250px;
  height: fit-content;
  padding: 0;
}
.label_link p ,.label_link2 p, #label_uo li p, .label_link_create p{
  font-size: 9.5px;
  margin-left: 0;
  padding-left: 10px;
}
#create_note_title {
  font-size: 15px;
}
#create_note_content {
  font-size: 14px;
}
#paste_labels{
  position: absolute;
  right: 19px;
  bottom: 85px;
}


}