/**  MEDIA QUERIES  **/

@media (max-width: 2000px) {
  #create_note{
    width:700px;
    max-width: 700px;
}
.note{
    max-height: 600px;
    height: 600px; 
    width:1100px;
    max-width: 1100px;
}
.n_content{
  padding-left:10px;  
}

}

@media (max-width: 1650px) {
    #create_note{
    width:700px;
    max-width: 700px;
}
.note{
    max-height: 500px;
    height: 500px; 
    width:1000px;
    max-width: 1000px;
}
.n_content{
  padding:10px;  
  width: 90%;
}
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media(max-width: 1400px) {
  #create_note{
    width:650px;
    max-width: 650px;
}
.note{
    max-height: 450px;
    height: 450px; /* of the notes_bar height*/
    width:830px;
    max-width: 830px;
}
.n_content{
  padding-left:10px;
  font-size: 1.2vw;
  
}
.meta_info{
  height: 15%;
  padding: 10px; 

}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width:1200px) {
  #create_note{
    width:650px;
    max-width: 650px;
}
.note{
    max-height: 450px;
    height: 450px; /* of the notes_bar height*/
    width:750px;
    max-width: 750px;
}
.n_content{
  padding-left: 10px;
  font-size: 1.2vw;
  
}
.meta_info{
  height: 15%;
  padding: 10px; 

}
}
@media  (max-width: 1100px) {
  #create_note{
    width: 500px;
    max-width: 500px;
}
.note{
    max-height: 400px;
    height: 400px; /* of the notes_bar height*/
    width:650px;
    max-width: 650px;
}
.note_content textarea {
  padding-left: 15px;
  font-size: 14px;
}
.note_title input {
  font-size: 19px;
  font-weight: bold;
}
#close{
  width: 30%;
}
.n_content{
  padding-left: 10px; 
  font-size: 1.25vw;
}
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 880px) {
  #labels_bar{
    display: none;
  }
  #notes_bar{
    width: 100%;
  }
  #create_note{
    width: 450px;
    max-width: 450px;
}
.note{
    max-height: 350px;
    height: 350px; /* of the notes_bar height*/
    width:550px;
    max-width: 550px;
}
.n_content{
  padding-left: 10px; 
  font-size: 1.25vw;
}
.search{
  border: 1px solid #FFFFFE;
}
.note_title h1 {
  font-size: 2.5vw;
}

#big_note {
  width: 95vw;
}
.note_content textarea {
  padding-left: 15px;
  font-size: 14px;
}
.note_title input {
  font-size: 19px;
  font-weight: bold;
}
#close{
  width: 30%;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 670px) {
  #create_note{
    width: 400px;
    max-width: 400px;
}
.note{
    max-height: 300px;
    height: 300px; /* of the notes_bar height*/
    width:450px;
    max-width: 450px;
}
.note_title h1 {
  font-size: 2.5vw;
}
#big_note {
  width: 95vw;
}
.note_content textarea {
  padding-left: 15px;
  font-size: 14px;
}
.note_title input {
  font-size: 19px;
  font-weight: bold;
}
#close{
  width: 30%;
}

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 550px) {
  #create_note{
    width: 250px;
    max-width: 250px;
}
.note{
    max-height: 300px;
    height: 250px; /* of the notes_bar height*/
    width:350px;
    max-width: 350px;
}
.n_content{
  padding-left: 10px; 
  font-size: 1.2vw;
}
.search{
  border: 1px solid #FFFFFE;
}
.note_title h1 {
  font-size: 2.5vw;
}
#big_note {
  width: 95vw;
}
.note_content textarea {
  padding-left: 15px;
  font-size: 14px;
}
.note_title input {
  font-size: 19px;
  font-weight: bold;
}
#close{
  width: 30%;
}
}

@media only screen and (max-width: 425px) {
  #close{
    width: 30%;
  }
  #create_note{
    width: 250px;
    max-width: 250px;
}
.note{
    max-height: 200px;
    height: 200px; /* of the notes_bar height*/
    width:300px;
    max-width: 300px;
}
.n_content{
  padding-left: 10px; 
  font-size: 1.32vw;
}
.search{
  border: 1px solid #FFFFFE;
}
.note_title h1 {
  font-size: 2.5vw;
}

#big_note {
  width: 95vw;
}
.note_content textarea {
  padding-left: 15px;
  font-size: 14px;
}
.note_title input {
  font-size: 19px;
  font-weight: bold;
}
}