*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color:white;
}
.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    width: calc(100vw/3);
    padding: 50px 30px;
    box-shadow: 7px 7px 60px #000;
    border-radius: 10px;
}
@media  screen and (max-width:1200px) {
    .form-container{
        width: calc(100vw/2);
    }
}
@media  screen and (max-width:800px) {
    .form-container{
        width: calc(100vw/1.5);
    }
}
@media  screen and (max-width:380px) {
    .form-container{
        width: 100vw;
    }
}
@media  screen and (max-width:280px) {
    .form-container{
        width: 100vw;
    }
}
@media  screen and (max-width:450px) {
    .form-container{
        width: calc(100vw/1.2);
    }
}
h1{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2em;
    font-size: 2em;
}
.control input{
    width: 100%;
    display:block;
    padding: 10px;
    color: #222;
    border: none;
    outline: none;
    margin: 1em o;
}
.control input[type='submit']{
    background: #f7360e;
    color: #ffff;
    box-shadow: inset 0 0 0 0 #fca41c;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: 0.8;
    transition: 0.25s ease-in-out;
}
.control input[type='submit']:hover{
    box-shadow: inset 395px 0 0 0 #fca41c;
}
.link {
    margin-top: 2em;
    font-size: 1.1em;
}
.link small a{
    text-decoration: none;
    color: aqua;
}
.link small a:hover{
    color:#fca41c;
}


